<%= form_with(model: phome, local: true) do |form| %>
  <% if phome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phome.errors.count, "error") %> prohibited this phome from being saved:</h2>

      <ul>
        <% phome.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
