<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Website Menu #4</title>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">info@yourdomain.com</span></a>
              <span class="mx-md-2 d-inline-block"></span>
              <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">1+ (234) 5678 9101</span></a>


              <div class="float-right">

                <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

              </div>

            </div>

          </div>

        </div>
      </div>

      <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">


            <div class="site-logo">
              <div class="col-5">
           
              <!--  <a href="index.html" class="text-black"><span class="text-danger">SOMALIA - FISTULA</a>-->
            </div>
            </div>

            <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#services-section" class="nav-link">Services</a></li>


                  <li class="has-children">
                    <a href="#about-section" class="nav-link">About Us</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#team-section" class="nav-link">Team</a></li>
                      <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                      <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                      <li class="has-children">
                        <a href="#">More Links</a>
                        <ul class="dropdown">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li><a href="#why-us-section" class="nav-link">Why Us</a></li>

                  <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                  <li><a href="#blog-section" class="nav-link">Blog</a></li>
                  <li><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>





              </nav>

 

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

       
</div>

 
</div> 




     


  </head>

 </header>


  <body>



<div class="container2">




<h2> 
<strong>
PAC SOMALIA ::FISTULA PORTAL
</strong>

</h2>


</div> 

<div class="container3">
<h3> 
<strong>
NEWS
</strong>

</h3>


  <div class="row align-items-start">

    <div class="col-2">

<%= image_tag 'pac9th.jpeg', alt: 'icon' %>
<h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2">Fistula Campigns 2021</h2><p data-v-f3efe360="" class="leading-relaxed text-base">The 9th Fistula Campaign Repair in Somalia</p>



 </div>

<div class="row justify-content-around">  
  <div class="col-30">


<%= video_tag "pacvideo1.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>



</div>
</div>

</div>

</div> 


<div class="container4">


<h3>
 <strong> REGISTRATION STATISTICS </strong>
</h3>










<div class="container1">

<div class="containerr1">
  <div class="row justify-content-around">

    <div class="col-4">

<h5>
  Registrations per region  <%= @fistula_registers.count %>
</h5>

<div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-primary text-white shadow">
                                        <div class="card-body">
                                           <h5>

                                             registered <br>
                                            <%= @fistula_registers.count %>
                                           </h5>
                                        </div>
                                    </div>
                                </div>

<%= pie_chart(@data) %>;

</div>
</div>





  <div class="row justify-content-around">

   <div class="col-4">
<%= bar_chart(@ploc) %>;
<h5>
  Registrations per location  <%= @fistula_registers.count %>
</h5>
</div>
</div>

</div>

</div> 

</div>





      

    <div class="hero" style="background-image: url('images/hero_1.jpg');"></div>
  

<script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>


 

  </body>

<footer>
  <div class="container5">

  </div>

</footer>

</html>
